---
---

$header-heading-color: #fff !default;
$header-bg-color: #86cee6 !default;
$header-bg-color-secondary: #18b2d9 !default;

$section-headings-color: #000000 !default;

@import "{{ site.theme }}";

