---
---

$header-heading-color: #fff !default;
$header-bg-color: #F8ECEB !default;
$header-bg-color-secondary: #f4aea1 !default;

$section-headings-color: #000000 !default;

@import "{{ site.theme }}";

